@using BGTATKO.Common
@model BGTATKO.Web.ViewModels.Home.IndexViewModel
@{ this.ViewData["Title"] = $"Welcome to {GlobalConstants.SystemName}!"; }

<div class="container">
    <div class="row">
        <div class="col-2">
            <div class="card">
                <div class="card-header bg-dark text-white">
                    Top Posters
                </div>
                <ul class="list-group list-group-flush">
                    @for (var i = 1; i <= Model.TopPosters.Count(); i++)
                    {
        <li class="list-group-item">
            <i class="fa fa-star"></i>
            @i.
            <a asp-controller="Users" asp-action="Show" asp-route-id="@Model.TopPosters.ElementAt(i - 1).Id">@Model.TopPosters.ElementAt(i - 1).UserName</a> - @Model.TopPosters.ElementAt(i - 1).PostsKarma Posts Karma
        </li>}
                </ul>
            </div>
            <br />
            <div class="card">
                <div class="card-header bg-dark text-white">
                    Top Commenters
                </div>
                <ul class="list-group list-group-flush">
                    @for (var i = 1; i <= Model.TopCommenters.Count(); i++)
                    {
        <li class="list-group-item">
            <i class="fa fa-star"></i>
            @i.
            <a asp-controller="Users" asp-action="Show" asp-route-id="@Model.TopCommenters.ElementAt(i - 1).Id">@Model.TopCommenters.ElementAt(i - 1).UserName</a> - @Model.TopCommenters.ElementAt(i - 1).CommentsKarma Comments Karma
        </li>}
                </ul>
            </div>
        </div>
        <div class="col-8">
            <div class="card text-center">
                <div class="card-header bg-dark text-white">
                    Latest activity from the people you follow
                </div>
                <div class="card text-center">
                    <div class="card-header">
                        Featured
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                    <div class="card-footer text-muted bg-dark text-white">
                        2 days ago
                    </div>
                </div>
                <br />
            </div>
        </div>
        <div class="col-2">
            <div class="card">
                <div class="card-header bg-dark text-white">
                    Top Posts
                </div>
                <ul class="list-group list-group-flush">
                    @for (var i = 1; i <= Model.TopPosts.Count(); i++)
                    {
        <li class="list-group-item">
            <i class="fa fa-star"></i>
            @i.
            <a asp-controller="Posts" asp-action="ById" asp-route-id="@Model.TopPosts.ElementAt(i - 1).Id">@Model.TopPosts.ElementAt(i - 1).Title</a> - @Model.TopPosts.ElementAt(i - 1).VotesCount Votes
        </li>}
                </ul>
            </div>
        </div>
    </div>
</div>
